@import "../../scss/variables/colors.scss";

.success {
  padding: 4rem;
  text-align: center;
  margin-top: 9rem;

  &__heading {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 0.9rem;
  }

  &__text {
    color: $primary-color;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  &__btn {
    padding: 1rem 3rem;
    // width: 100%;
    background-color: $secondary-color;
    color: #fff;
    font-size: 0.875rem;
    font-family: $secondary-font;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      filter: brightness(90%);
    }
  }
}
