@import "../../scss/variables/colors.scss";

.logo-box {
  padding-left: 1.5rem;
  padding-top: 2rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.home {
  padding: 1.5rem;
  background-color: $background-color;
  margin-top: 5rem;

  &__text {
    color: $primary-color;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 5rem;
  }

  &__icon {
    display: grid;
    place-items: center;
    margin-top: 5rem;
  }
}
